{% extends "layout.html" %}
{% block body %}
  <h1>Files in '{{ folder }}'</h1>
  <ul class="image-grid">
    {% for f in files %}
      <li>
        <img src="/files/{{ folder }}/{{ f }}"/>
        <div class="image-header">
          <a href="/files/output/{{ f }}" title="Download file" download>⬇️</a>
          <h2>{{ f }}</h2>
          {% if '-local' in f %}
          <span class="badge">
            LOCAL
          </span>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}