<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>AML4D Group Assignment 2</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <aside class="toast-wrapper">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul>
          {% for category, message in messages %}
            <li class="toast variant-{{ category }}">
              {{ message }}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </aside>
    <main>
      <header>
        <nav>
          <ul>
            <li>
              <a href="{{ url_for('index') }}">Upload</a>
            </li>
            <li>
              <a href="{{ url_for('image_class') }}">Image classification</a>
            </li>
            <li>
              <a href="{{ url_for('object_det') }}">Object detection</a>
            </li>
            <li>
              <a href="{{ url_for('image_coord') }}">Image coordinates</a>
            </li>
            <li>
              <a href="{{ url_for('get_files', folder='input') }}">Input files</a>
            </li>
            <li>
              <a href="{{ url_for('get_files', folder='output') }}">Output files</a>
            </li>
          </ul>
        </nav>
      </header>
      {% block body %}{% endblock %}
    </main>
  </body>
</html>