{% extends "layout.html" %}
{% block body %}
  <header>
    <h1>Dectect objects in the images</h1>
    <a href="?redo=true">↻ Redo detection</a>
  </header>
  <ul class="image-grid">
    {% for d in data %}
      <li>
        <img src="/files/output/{{ d.file }}" loading="lazy" />
        <div class="image-header">
          <a href="/files/output/{{ d.file }}" title="Download file" download>⬇️</a>
          <h2>{{ d.file }}</h2>
          {% if '-local' in d.file %}
          <span class="badge">
            LOCAL
          </span>
          {% endif %}
        </div>
        <ul>
          {% for k, v in d.stats.items() %}
            <li>
              {{ k }}: {{ v }}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}